img {
  height: auto;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h1 {
  background-color: rgb(245, 231, 193);
  color: black;
  font-size: 36px;
  font-family: Copperplate, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 25px;
  margin: 48px;
  margin-bottom: 0px;
}

a {
  display: block;
  text-align: center;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  padding: 12px;
}
